body {
  font-size: 13px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  _font-family: Tahoma, Arial, Helvetica, STHeiti, sans-serif;
  cursor: default;
}
a {
  color: #00a5e0; }
a:hover{
  color: #18b4ed; }
.media p{width:100%;}

/*一些自定义样式*/
.wrapper{
    width:820px;
    margin:0 auto;
}
.wrapper .navbar-collapse{
    padding-left: 0px;
    padding-right: 0px 
}
.header-top{
    width: 100%;
    background: none;
}
.header-logo{
    width: 820px;
    height: 100px;
    margin: 0 auto;
    font-size: 48px;
    padding-top: 10px;        
    color:#E6E5C9;
    text-align: center
}
.header-logo a{
    color:#E6E5C9
}
.header-logo a:hover{
    text-decoration: none;
}
.footer-holder{height: 100px;margin: 0 auto;width: 820px;clear: both}
/*全局左右宽度*/
.main-page{
    float:left;
    width: 550px;
    min-height:200px;
    _height:200px;
    background:#fff;
    margin-bottom:.8em;    
    border: 1px solid #e1dfdf;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px #d1d4d7;
    padding:25px 25px
}
.aside-page{
    float:right;
    width:220px;
}
.aside-page .aside-mod{
    width: 100%;
    padding: 15px 10px;
    background:#fff;
    border: 1px solid #e1dfdf;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px #d1d4d7;
    margin-bottom: 15px;
}
.text-indent{
    text-indent: 2em
}
.zmf-border-bottom{
    padding-bottom: 15px; 
    border-bottom:1px dashed #e9e9e9
}
/*标题*/
.item-title{
    margin-top: 0;
}
.comments-holder{
    margin-bottom: 15px;
}
/*列表*/
.post-item{
    padding-bottom: 15px; 
    border-bottom:1px dashed #e9e9e9;    
}
.post-item p{
    margin:0 0 10px
}
.post-item .media-heading{
    margin-bottom:10px
}
.post-item .author a{
    color:#333;
    font-weight: bold;
    line-height: 1.7;
}
.post-item .author a:hover{
    color:#428bca
}
/*自定义的颜色*/
.color-grey,.color-grey a{
    color:#999
}
.color-grey a:hover{
    color: #428bca;
    text-decoration: underline;
}
/*导航提醒数字*/
.top-nav-count {
    background: #BF1031;
    border: 1px solid #B11331;
    box-shadow: 0 1px 2px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.15);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    -webkit-text-size-adjust: none;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    z-index: 12;
    top: 5px;
    position: absolute;
    left: 31px;
}
 
/*form表单错误提示*/
.errorSummary{
    border:2px solid #C00;
    background:#FEE;
    font-size:.9em;
    margin:0 0 20px;
    padding:7px 7px 12px
}
.errorSummary p{
    margin:0;
    padding:5px
}
.errorSummary ul{
    color:red;
    margin:0;
    padding:0 0 0 20px
}
span.required,.errorMessage{
    color:red
}
/**
*重写分页样式
*/
ul.yiiPager{height:26px;margin:0;padding:0}ul.yiiPager li{display:inline;margin:0 4px 0 0}ul.yiiPager a:link,ul.yiiPager a:visited{padding:5px 9px;border:1px solid #ccc;border-radius:3px;background:#fff;color:#777;font-weight:normal}ul.yiiPager a:hover{border-color:#449d44;box-shadow:1px 1px 1px #333;color:#035d67;text-decoration:none}ul.yiiPager .selected a{padding:6px 10px;border:0;border-radius:3px;background:#449d44;color:#fff}ul.yiiPager .hidden{display:none}
/*自定义导航条颜色*/
.navbar{
    margin-bottom: 0;
    min-height: 30px;
}
.navbar .navbar-default{
    height: 30px
}
.navbar-default .navbar-nav>li>a {
  padding-top:5px;
  padding-bottom:5px;
}
.navbar-primary{
  background: #18b4ed;
  border:none;
}
.navbar-primary .navbar-collapse, .navbar-primary .navbar-form {
  border: none;
}
.navbar-primary .navbar-nav>li>a {
  color: #FFF;
}
.navbar-primary .navbar-nav>li>a:hover, .navbar-primary .navbar-nav>li>a:focus {
  background:  #00a5e0;
  color: #FFF
}
.navbar-primary .navbar-nav>.active>a, .navbar-primary .navbar-nav>.active>a:hover, .navbar-primary .navbar-nav>.active>a:focus {
  color: #FFF;
}
.navbar-primary .navbar-nav>.open>a, .navbar-primary .navbar-nav>.open>a:hover, .navbar-primary .navbar-nav>.open>a:focus {
  background-color: #00a5e0;
  color: #FFF;
}
.navbar-primary .navbar-nav>.active>a, .navbar-primary .navbar-nav>.active>a:hover, .navbar-primary .navbar-nav>.active>a:focus {
background-color: #00a5e0;
}
/*按钮颜色*/
.btn-success{
    background-color: #18b4ed;
    border-color: #00a5e0;
}
.btn-success:hover{
    background-color: #00a5e0;
}